{% extends "base.html" %}
{% block title %}password reset{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Reset password</h1>
    <p>Please enter your new Enter you email to set a new password.</p>
    {% if form.new_password.help_text %}
    <div class="text-left" style="margin-left:400px">
        <p>{{ form.new_password.help_text|safe }}</p>
    </div>
    {% endif %}
    <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="errornote">
                {% if form.errors.items|length == 1 %}
                    <p> Please correct the error below </p>
                {% else %}
                    <p> Please correct the errors below. </p>
                {% endif %}
                </p>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                New password
            </label>
            <div class="col-md-6 text-left">
                {{ form.new_password1 }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                Confirm password
            </label>
            <div class="col-md-6 text-left">
                {{ form.new_password2 }}
            </div>
        </div>
        <input type="submit" value="Change my password" class="btn btn-primary btn-lg" >
    </form>
</div>
{% endblock %}
