<div class="pagination">
    <span class="step-links">
		<ul class="pagination">
		{% if page.has_previous %}
			<li><a href="?page={{ page.previous_page_number }}">&laquo;</a></li>
		{% else %}
			<li class="disabled"><a>&laquo;</a></li>
		{% endif %}
		
		{% for p in num_pages %}
			{% if p == page.number %}
				<li class="active"><a>{{ p }}</a></li>
			{% else %}
				<li><a href="?page={{p}}">{{ p }}</a></li>
			{% endif %}
		{% endfor %}

        {% if page.has_next %}
			<li><a href="?page={{ page.next_page_number }}">&raquo;</a></li>
		{% else %}
			<li class="disabled"><a>&raquo;</a></li>
        {% endif %}		
		</ul>
    </span>
</div>